.submit-btn {
  background-color: #2196f3; /* Submit */
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover{
     background-color: #1976D2;
}

.add-exercise-btn{
     background-color: #4CAF50; /* Add Exercise */
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.add-exercise-btn:hover{
      background-color: #45A049;
    
}

.reset-history-btn {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 22px;
  background-color: #ff0000; 
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.reset-history-btn:hover {
  background-color: #d50000; 
  transform: translateY(-2px); /* moves button up like its floating*/
}

.reset-history-btn:active {
  transform: translateY(0);
}
