.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.card .details {
  margin-top: 10px;
}

.card .details p {
  margin: 5px 0;
}

.exercise-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 20px; /* spacing between cards */
  padding: 20px;
}